
body {
	font-family: Helvetica, Lucida Grande, sans-serif;
	font-size: 12pt;
}

a {
	font-weight: bold;
	color: #778FBD;
	text-decoration: none;
}

h3, h4 {
	color: #666;
	position: relative;
	left: 4px;
}

table th {
    background-color: #425D86;
    color: white;
}

ul {
	list-style-type: square;
}

.linklist {
	color: #778FBD;
}

li {
	padding: 4px;
}
